div.pagination.pagination-left
  ul.pagination.ng-cloak
    li(ng-class="{'disabled': !page.active}", ng-repeat='page in pages', ng-switch='page.type')
      a(ng-switch-when='prev', ng-click='goToPage(page.number)', href='') «
      a(ng-switch-when='first', ng-click='goToPage(page.number)', href='') {{page.number}}
      a(ng-switch-when='page', ng-click='goToPage(page.number)', href='') {{page.number}}
      a(ng-switch-when='more', ng-click='goToPage(page.number)', href='') …
      a(ng-switch-when='last', ng-click='goToPage(page.number)', href='') {{page.number}}
      a(ng-switch-when='next', ng-click='goToPage(page.number)', href='') »
  .pull-right(ng-show="params.counts.length")
      b Per Page
      li.dropdown
        button.dropdown-toggle {{params.count}}
        ul.dropdown-menu
          li(ng-repeat="count in params.counts", ng-class="{'active':params.count == count}", ng-click='changeCount(count)')
            button {{count}}
